/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### target ###
bd-modules/tracking-service/target/
bd-modules/basic-service/target/
bd-modules/chart-service/target/
bd-modules/report-service/target/
bd-modules/academic-service/target/
bd-modules/consume-service/target/
bd-modules/dormitory-service/target/
bd-modules/net-service/target/
bd-common/target
bd-common/target/classes/