<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziyun.basic.mapper.UserOptionMapper">
    <select id="getUserLabel" parameterType="string" resultType="java.util.Map">
        select alias,id,label,locator,params
        from userlabel
        where username = #{username}
    </select>

    <insert id="insertUserLabel" parameterType="java.util.Map">
        insert into userlabel(username,alias,label,locator,params)
        values(#{username},#{alias},#{label},#{locator},#{params})
    </insert>

    <delete id="deleteUserLabels" parameterType="Long">
        delete from userlabel
        where id in
        <foreach collection="list" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteUserLabel" parameterType="java.util.Map">
        delete from userlabel
        where id = #{id} AND username = #{username}
    </delete>

    <select id="getLabelById" parameterType="long" resultType="java.util.Map">
        select alias,id,label
        from userlabel
        where id = #{id}
    </select>
</mapper>