<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziyun.academic.dao.EduGradeKylinDao">

    <!--排序字段-->
    <sql id="base_sort">
        <if test="sort == 'outid'">
            a.outid
        </if>
        <if test="sort =='opdt'">
            opdt
        </if>
        <if test="sort == null or sort == ''">
            a.outid
        </if>
    </sql>
    <!--排序规则-->
    <sql id="base_order">
        <if test="order =='ascending'">
            ASC
        </if>
        <if test="order == 'descending'">
            DESC
        </if>
        <if test="order == null or order == ''">
            ASC
        </if>
    </sql>
    <sql id="Base_where_List_r">
        <!-- 时间筛选-->
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime !='' ">
            and kq.opdt <![CDATA[ >= ]]> '${startTime}' and kq.opdt <![CDATA[ <= ]]> '${endTime}'
        </if>

        <!-- 教室名选择-->
        <if test="className !=null and className !='' ">
            and kq.termname like '%${className}%'
        </if>
        <!--课程属性:选修，必修 -->
        <if test="courseProperties != null and courseProperties != '' ">
            and t.course_properties_new = #{courseProperties,jdbcType=VARCHAR}
        </if>
        <!-- 课程分类-->
        <if test="courseCategory != null">
            and t.course_category = #{courseCategory,jdbcType=VARCHAR}
        </if>
        <!-- 课程性质-->
        <if test="courseNatures != null">
            and t.course_natures = #{courseNatures,jdbcType=VARCHAR}
        </if>
        <if test="politicalCode != null">

            <!-- 政治面貌code:(1、团员，2、预备党员，3、党员) -->
            and t.POLITICAL_CODE_ALL =${politicalCode}

        </if>


        <!-- 学期 -->
        <if test="termNum != null">
            and t.term_num = #{termNum,jdbcType=INTEGER}
        </if>
        <!--入学年份 多选-->
        <if test="yearArr !=null and yearArr.length >0 ">
            AND t.FIRST_ENROLLMENT_YEAR IN
            <foreach collection="yearArr" item="year" open="(" close=")" separator=",">
                #{year}
            </foreach>
        </if>


        <!-- 学籍状态 -->
        <if test="eduStatus != null">
            and t.EDU_STATUS LIKE '%${eduStatus}%'
        </if>

        <!-- 校区code：：'学籍类型 slg 苏理工 jkd 江科大 -->
        <if test="schoolCode != null">
            and t.school_Code = #{schoolCode,jdbcType=VARCHAR}
        </if>

        <!-- 院系code：：自己编码的，不是学校的编码 -->
        <if test="facultyCode != null">
            and t.faculty_code = #{facultyCode,jdbcType=VARCHAR}
        </if>
        <!-- 专业code：：自己编码的，不是学校的编码 -->
        <if test="majorCode != null">
            and t.major_code = #{majorCode,jdbcType=VARCHAR}
        </if>
        <!-- 判断是否有奖学金 -->
        <if test="scholarship != null">
            and t.outid IN
            (SELECT es.outid
            FROM edu_scholarship es
            )
        </if>
        <!--贫困生判断-->
        <if test="impoverish != null">
            and t.IMPOVERISH =${impoverish}
        </if>
        <!-- 班级code：：班级只有code,没有名称 -->
        <!-- 多个班级放到：in中 -->
        <if test="classCode != null and classCode.length > 0">
            and t.class_code in
            <foreach collection="classCode" item="item" index="index"
                     open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <!-- 学号：： -->
        <if test="outid != null and outid !=''">
            and t.outid =#{outid}
        </if>
        <!-- 姓名-->
        <if test="name !=null and name !='' ">
            AND t.name = #{name}
        </if>
        <!-- 性别-->
        <if test="sex !=null and sex !='' ">
            AND t.sex=#{sex}
        </if>

    </sql>

    <!--分页条件 -->
    <sql id="base_limit">
        <if test="start != null and start >= 0">
            limit ${limit} offset ${start}
        </if>
    </sql>

    <!-- 上课考勤打卡-->
    <select id="attendanceCard" parameterType="com.ziyun.academic.vo.AcademicParams" resultType="java.util.Map">
        select opdt as "opdt",outid as "outid", termname as "termname" from (
        SELECT
        kq.outid AS outid,
        kq.termname AS termname,
        min(kq.opdt) AS opdt
        FROM
        m_rec_kqmj kq
        INNER JOIN own_org_student_type t ON kq.outid = t.outid
        WHERE
        1 = 1
        <include refid="Base_where_List_r"/>
        GROUP BY
        kq.outid,
        kq.termname,
        cast(kq.opdt as date)
        ORDER BY
        cast(kq.opdt as date) ASC

        ) a
        where 1=1
        <if test=" shortStartTime !=null and shortStartTime !='' ">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ >= ]]>'${shortStartTime}'
        </if>
        <if test="shortEndTime !=null and shortEndTime != ''">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ <= ]]> '${shortEndTime}'
        </if>
        order BY
        <include refid="base_sort"/>
        <include refid="base_order"/>
        <include refid="base_limit"/>
    </select>

    <select id="attendanceCardSize" parameterType="com.ziyun.academic.vo.AcademicParams" resultType="java.lang.Integer">
        SELECT count(1) FROM (
        select opdt as "opdt",outid as "outid", termname as "termname" from (
        SELECT
        kq.outid AS outid,
        kq.termname AS termname,
        min(kq.opdt) AS opdt
        FROM
        m_rec_kqmj kq
        INNER JOIN own_org_student_type t ON kq.outid = t.outid
        WHERE
        1 = 1
        <include refid="Base_where_List_r"/>
        GROUP BY
        kq.outid,
        kq.termname,
        cast(kq.opdt as date)
        ORDER BY
        cast(kq.opdt as date) ASC

        ) a
        where 1=1
        <if test=" shortStartTime !=null and shortStartTime !='' ">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ >= ]]>'${shortStartTime}'
        </if>
        <if test="shortEndTime !=null and shortEndTime != ''">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ <= ]]> '${shortEndTime}'
        </if>
        ) b

    </select>

    <select id="classNums" parameterType="com.ziyun.academic.vo.AcademicParams" resultType="java.util.Map">
        SELECT DISTINCT
        termname
        FROM
        m_rec_kqmj kq
        where 1=1
        <if test="outid !=null and outid !=''">
            and kq.outid=#{outid}
        </if>
        order by termname asc
    </select>


    <!-- 个人上课打卡详情-->
    <select id="personAttendanceCard" parameterType="com.ziyun.academic.vo.AcademicParams" resultType="java.util.Map">
        select opdt as "opdt",outid as "outid", termname as "termname" from (
        SELECT
        kq.outid AS outid,
        kq.termname AS termname,
        min(kq.opdt) AS opdt
        FROM
        m_rec_kqmj kq
        INNER JOIN own_org_student_type t ON kq.outid = t.outid
        WHERE
        1 = 1
        <include refid="Base_where_List_r"/>
        GROUP BY
        kq.outid,
        kq.termname,
        cast(kq.opdt as date)
        ORDER BY
        cast(kq.opdt as date) ASC

        ) a
        where 1=1
        <if test=" shortStartTime !=null and shortStartTime !='' ">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ >= ]]>'${shortStartTime}'
        </if>
        <if test="shortEndTime !=null and shortEndTime != ''">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ <= ]]> '${shortEndTime}'
        </if>
        order by opdt asc
        <include refid="base_limit"/>
    </select>

    <select id="personAttendanceCardSize" parameterType="com.ziyun.academic.vo.AcademicParams"
            resultType="java.lang.Integer">
        SELECT count(1) FROM (
        select opdt as "opdt",outid as "outid", termname as "termname" from (
        SELECT
        kq.outid AS outid,
        kq.termname AS termname,
        min(kq.opdt) AS opdt
        FROM
        m_rec_kqmj kq
        INNER JOIN own_org_student_type t ON kq.outid = t.outid
        WHERE
        1 = 1
        <include refid="Base_where_List_r"/>
        GROUP BY
        kq.outid,
        kq.termname,
        cast(kq.opdt as date)
        ORDER BY
        cast(kq.opdt as date) ASC

        ) a
        where 1=1
        <if test=" shortStartTime !=null and shortStartTime !='' ">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ >= ]]>'${shortStartTime}'
        </if>
        <if test="shortEndTime !=null and shortEndTime != ''">
            and substring(cast(opdt as varchar),12,8) <![CDATA[ <= ]]> '${shortEndTime}'
        </if>
        ) b
    </select>
</mapper>
